---
import Layout from "@/layouts/Layout.astro";
import Heading from "~/components/Heading";
import Hero from "~/components/Hero";
import InfoBox from "~/components/InfoBox";
import InfoBoxSideBySide from "~/components/InfoBoxSideBySide";
import NumberedList from "~/components/NumberedList";
import RichText from "~/components/RichText";
import SupportBanner from "~/components/SupportBanner";
import Timeline from "~/components/Timeline.tsx";
import { supportBanner } from "~/resources/content/shared/support-banner";
import { methods } from "~/resources/content/methoden";

export const frontmatter = {
  title: "Regelung erarbeiten",
};
---

<Layout title={frontmatter.title} showProgressBar>
  <main>
    <Hero subtitle={methods.subtitle} title={methods.title} />

    <div class="container my-40 space-y-40 lg:my-80 lg:space-y-80">
      <Timeline>
        {
          methods.steps.items.map((step, index) => {
            const headingId = `step-h-${index}`;

            if (step.isSubstep)
              return (
                <Timeline.Item
                  key={step.headline.text}
                  bullet
                  aria-labelledby={headingId}
                >
                  <Timeline.ItemContent
                    backgroundClasses="bg-blue-100 px-16 py-32 sm:px-32 sm:pt-40 sm:pb-48"
                    headline={{
                      text: step.headline.text,
                      look: "ds-heading-03-bold",
                      tagName: "h3",
                      id: headingId,
                    }}
                    links={step.links}
                    content={step.text}
                  />
                </Timeline.Item>
              );
            return (
              <Timeline.Item
                className="mt-4 space-y-16"
                key={step.headline.text}
                aria-labelledby={headingId}
              >
                <Timeline.ItemContent
                  content={step.text}
                  headline={{ ...step.headline, id: headingId }}
                />
              </Timeline.Item>
            );
          })
        }
      </Timeline>

      <section class="space-y-40">
        <InfoBox
          heading={{ tagName: "h2", text: methods.furtherMethods.heading }}
        >
          <RichText markdown={methods.furtherMethods.content} />
        </InfoBox>

        <InfoBoxSideBySide>
          <InfoBox
            look="method"
            badge={{ children: methods.itSystems.badge, look: "hint" }}
            heading={{
              text: methods.itSystems.heading,
              tagName: "h3",
              className: "ds-heading-03-bold",
            }}
          >
            <RichText markdown={methods.itSystems.content} />
            <InfoBox.LinkList links={methods.itSystems.links} />
          </InfoBox>
          <InfoBox
            look="method"
            badge={{
              children: methods.technicalFeasibility.badge,
              look: "hint",
            }}
            heading={{
              text: methods.technicalFeasibility.heading,
              tagName: "h3",
              className: "ds-heading-03-bold",
            }}
          >
            <RichText markdown={methods.technicalFeasibility.content} />
            <InfoBox.LinkList links={methods.technicalFeasibility.links} />
          </InfoBox>
          <InfoBox
            look="method"
            badge={{
              children: methods.interviewMethods.badge,
              look: "hint",
            }}
            heading={{
              text: methods.interviewMethods.heading,
              tagName: "h3",
              className: "ds-heading-03-bold",
            }}
          >
            <RichText markdown={methods.interviewMethods.content} />
            <InfoBox.LinkList links={methods.interviewMethods.links} />
          </InfoBox>
        </InfoBoxSideBySide>
      </section>
    </div>
    <SupportBanner {...supportBanner} />
    <section class="container my-40 space-y-32 lg:my-80">
      <Heading tagName="h2">{methods.nextSteps.title}</Heading>
      <NumberedList>
        {
          methods.nextSteps.items.map((item) => (
            <NumberedList.Item
              className="space-y-16"
              disabled={item.isDisabled}
            >
              <p class="ds-heading-03-reg">{item.headline.text}</p>
              {"content" in item && (
                <RichText markdown={item.content as string} />
              )}
              {item.link && "to" in item.link && (
                <a href={item.link.to} class="text-link">
                  {item.link.text}
                </a>
              )}
            </NumberedList.Item>
          ))
        }
      </NumberedList>
    </section>
  </main>
</Layout>
