---
import { LinkButton } from "@/components/Button.tsx";
import { methoden_fuenfPrinzipien } from "@/config/routes";
import type { BasePrinzip, PrinzipListItem } from "@/utils/strapiData.types";
import { twJoin } from "tailwind-merge";

interface Props {
  principles: PrinzipListItem[];
  current: BasePrinzip;
}

const { principles, current } = Astro.props;

const index = principles.findIndex(
  (principle) => principle.order === current.order,
);
const prev = index > 0 ? principles[index - 1] : null;
const next = index < principles.length - 1 ? principles[index + 1] : null;
---

<nav aria-labelledby="principle-navigation-heading" class="mb-80 space-y-8">
  <h2 id="principle-navigation-heading" class="ds-heading-03-reg">
    Prinzipien-Übersicht
  </h2>
  {
    principles.map((principle) => (
      <a
        href={`${methoden_fuenfPrinzipien.path}/${principle.URLBezeichnung}`}
        class={twJoin(
          "block",
          principle.order === current.order ? "link-unstyled" : "kern-link",
        )}
      >
        Prinzip {principle.order}: {principle.Name}
      </a>
    ))
  }
</nav>

<div class="flex flex-wrap justify-between gap-16">
  {
    prev ? (
      <LinkButton
        look="link"
        href={methoden_fuenfPrinzipien.path + "/" + prev.URLBezeichnung}
      >
        Zurück zu Prinzip {prev.order}
      </LinkButton>
    ) : (
      <span />
    )
  }
  {
    next ? (
      <LinkButton
        look="tertiary"
        href={methoden_fuenfPrinzipien.path + "/" + next.URLBezeichnung}
        className="flex justify-center"
      >
        Zum nächsten Prinzip
      </LinkButton>
    ) : (
      <span />
    )
  }
</div>
