---
import VorpruefungLayout from "@/layouts/VorpruefungLayout.astro";
import { vorpruefung } from "@/config/routes";
import { LinkButton } from "@/components/Button.tsx";
import ButtonContainer from "@/components/ButtonContainer";
import InlineNotice from "@/components/InlineNotice";
import RichText from "@/components/RichText";
import { general } from "@/resources/content/shared/general";
import { preCheck } from "@/resources/content/vorpruefung";

export const frontmatter = {
  title: "Allgemeine Hinweise",
  sitemap: false,
};

const { questions, generalInfo } = preCheck;
const { headline, text, nextButton, hint } = generalInfo;
---

<VorpruefungLayout title={frontmatter.title}>
  <h1 class="ds-heading-02-reg mb-16">{headline}</h1>
  <div class="space-y-40">
    <RichText markdown={text} />
    <InlineNotice look="tips" heading={hint.title}>
      <RichText markdown={hint.text} />
    </InlineNotice>
    <ButtonContainer>
      <LinkButton id={"generalInfo-next-button"} href={questions[0].path}>
        {nextButton}
      </LinkButton>
      <LinkButton
        id={"generalInfo-back-button"}
        href={vorpruefung.path}
        look={"tertiary"}
      >
        {general.buttonBack.text}
      </LinkButton>
    </ButtonContainer>
  </div>
</VorpruefungLayout>
