---
import AccordionItem from "~/components/AccordionItem";
import Badge from "~/components/Badge.tsx";
import Container from "~/components/Container";
import ContentWrapper from "~/components/ContentWrapper.tsx";
import Heading from "~/components/Heading";
import ImageZoomable from "~/components/ImageZoomable";
import RichText from "~/components/RichText";
import Timeline from "~/components/Timeline";
import { spoc } from "./_content";
---

<>
  <div class="container">
    <Heading tagName="h2" text={spoc.landscape.headline} className="mb-8" />
    <RichText markdown={spoc.landscape.content} className="ds-stack-24 mb-40" />
    <ImageZoomable image={spoc.landscape.image} />
    <RichText
      className="mt-16 mb-32"
      markdown={spoc.landscape.contentAfter.content}
    />
    <div class="my-40">
      {
        spoc.landscape.contentAfter.items.map((item) => (
          <AccordionItem client:load headline={item.title}>
            <RichText markdown={item.content} />
          </AccordionItem>
        ))
      }
    </div>
    <RichText className="mb-48" markdown={spoc.landscape.contentAfter.outro} />
  </div>
  <div class="bg-blue-100">
    <Container>
      <Heading
        tagName="h2"
        text={spoc.responsibilities.headline}
        className="mb-8"
      />
      <RichText markdown={spoc.responsibilities.content} />
    </Container>
  </div>
  <ContentWrapper className="lg:mt-40">
    <Heading
      tagName="h2"
      text="Aktueller Stand der Integration in den Digitalcheck"
      className="mb-8"
    />
    <Timeline>
      {
        spoc.timeline.items.map((timelineItem) => (
          <Timeline.Item bullet className="mt-4 flex flex-col gap-16">
            <Badge look="gray">{timelineItem.badge.text}</Badge>
            <h3 class="ds-subhead hyphens-none">
              {timelineItem.headline.text}
            </h3>
            {timelineItem.content && (
              <RichText markdown={timelineItem.content} />
            )}
            {timelineItem.image && (
              <ImageZoomable
                image={{
                  url: timelineItem.image.url,
                  alternativeText: timelineItem.image.alternativeText,
                  className: "max-w-a11y",
                }}
              />
            )}
          </Timeline.Item>
        ))
      }
    </Timeline>
  </ContentWrapper>
</>
