---
import BeispieleLayout from "@/layouts/BeispieleLayout.astro";
import {
  fetchStrapiData,
  GET_PRINZIPS_QUERY,
  paragraphFields,
  prinzipCoreFields,
  visualisationFields,
} from "@/utils/strapiData.server";
import type {
  Beispielvorhaben,
  PrinzipWithBeispielvorhaben,
} from "@/utils/strapiData.types";
import ContentWrapper from "@/components/ContentWrapper.tsx";
import Hero from "@/components/Hero";
import RegulationMetadata from "@/components/RegulationMetadata";
import Tabs from "@/components/tabs/Tabs.astro";
import FormulierungenTab from "./_FormulierungenTab.astro";
import VisualisierungTab from "./_VisualisierungTab.astro";
import NKRStellungnahmeTab from "./_NKRStellungnahmeTab.astro";

export const frontmatter = {
  title: "Regelungsbeispiel",
};

export async function getStaticPaths() {
  const regelungQuery = `
${prinzipCoreFields}
${paragraphFields}
${visualisationFields}
query GetAllBeispielvorhaben {
  beispielvorhabens(status: PUBLISHED) {
    documentId
    Titel
    NKRNummer
    Rechtsgebiet
    Ressort
    URLBezeichnung
    VeroeffentlichungsDatum
    LinkRegelungstext
    NKRStellungnahmeLink
    GesetzStatus
    Paragraphen { ...ParagraphFields }
    Visualisierungen { ...VisualisationFields }
    Digitalchecks {
      documentId
      Titel
      EinschaetzungAutomatisierung
      EinschaetzungDatenschutz
      EinschaetzungKlareRegelungen
      EinschaetzungKommunikation
      EinschaetzungWiederverwendung
      NKRStellungnahmeDCText
    }
  }
}`;

  const [regelungResult, prinzipsResult] = await Promise.all([
    fetchStrapiData<{ beispielvorhabens: Beispielvorhaben[] }>(regelungQuery),
    fetchStrapiData<{ prinzips: PrinzipWithBeispielvorhaben[] }>(
      GET_PRINZIPS_QUERY,
    ),
  ]);

  const principles = prinzipsResult.prinzips.toSorted(
    (a, b) => a.order - b.order,
  );

  return regelungResult.beispielvorhabens.map((regelung) => ({
    params: { regelung: regelung.URLBezeichnung },
    props: { regelung, principles },
  }));
}

const { regelung, principles } = Astro.props;

const hasFormulierungen = regelung.Paragraphen.length > 0;
const hasVisualierungen = regelung.Visualisierungen.length > 0;
const hasNKRStellungnahme = regelung.Digitalchecks.some(
  (d) => !!d.NKRStellungnahmeDCText,
);

const FORMULIERUNGEN = "Formulierungen";
const VISUALISIERUNG = "Visualisierung";
const NKR_STELLUNGNAHME = "NKR-Stellungnahme";
---

<BeispieleLayout title={frontmatter.title}>
  <main>
    <Hero
      className="bg-gray-100"
      title={regelung.Titel}
      subtitle="Hier finden Sie alles zur Digitaltauglichkeit dieser Regelung."
    />

    <div class="bg-gray-100">
      <div class="container">
        <RegulationMetadata exampleProject={regelung} />
      </div>
    </div>

    <ContentWrapper compactTopSpacing>
      <Tabs
        tabs={[
          hasFormulierungen && FORMULIERUNGEN,
          hasVisualierungen && VISUALISIERUNG,
          hasNKRStellungnahme && NKR_STELLUNGNAHME,
        ].filter(Boolean) as string[]}
      >
        {
          hasFormulierungen && (
            <FormulierungenTab
              data-tab-panel={FORMULIERUNGEN}
              regelung={regelung}
              principles={principles}
            />
          )
        }
        {
          hasVisualierungen && (
            <VisualisierungTab
              data-tab-panel={VISUALISIERUNG}
              regelung={regelung}
            />
          )
        }
        {
          hasNKRStellungnahme && (
            <NKRStellungnahmeTab
              data-tab-panel={NKR_STELLUNGNAHME}
              regelung={regelung}
            />
          )
        }
      </Tabs>
    </ContentWrapper>
  </main>
</BeispieleLayout>
