---
import {
  dokumentation,
  interoperabel,
  methoden_fuenfPrinzipien,
  vorpruefung,
} from "@/config/routes";
import { ContactPhoneOutlined } from "@digitalservicebund/icons";
import { LinkButton } from "~/components/Button";
import Heading from "~/components/Heading";
import InfoBox from "~/components/InfoBox.tsx";
import Timeline from "~/components/Timeline";
import { contact } from "~/resources/content/shared/contact";
import { tabLabels, interopsAssessment } from "./_tabs";
import { getTabAnchorLinkFromLabel } from "~/utils/tabs";
---

<section class="space-y-40" {...Astro.props}>
  <Heading tagName="h2">Überblick</Heading>

  <div class="space-y-8">
    <Heading tagName="h3">Koordination ist der Schlüssel</Heading>
    <p>
      Damit ein digitales Europa ohne Grenzen Wirklichkeit wird, müssen die
      Verwaltungen der Mitgliedsstaaten zusammenarbeiten können. Die Verordnung
      soll Insellösungen, Parallel- und Doppelentwicklungen verhindern und
      schafft einen gemeinsamen verbindlichen Rahmen für die Zusammenarbeit.
      Seit Anfang 2025 sind die Mitgliedsstaaten verpflichtet, Anforderungen an
      die Interoperabilität zu berücksichtigen.
    </p>
  </div>

  <div class="space-y-8">
    <Heading tagName="h3">
      Was bedeutet das für die Erarbeitung von Regelungen?
    </Heading>
    <p>
      Für Sie bedeutet das, dass Sie grenzüberschreitende Auswirkungen eines
      Regelungsvorhaben einschätzen sollten, bevor Regelungen geschrieben
      werden. Denn nur wenn Sie die Interoperabilität von Anfang an mitdenken,
      schaffen Sie die rechtliche Grundlage für Behörden, um europaweit Daten
      auszutauschen und funktionierende, grenzüberschreitende
      Verwaltungsleistungen anzubieten. Abschließend dokumentieren Sie in einem
      zusammenhängenden Prozess mit der Dokumentation der Digitaltauglichkeit in
      einem Fragebogen, wie Sie sichergestellt haben, dass Ihre Regelungsinhalte
      förderlich für die EU-weite Interoperabilität sind.
    </p>
  </div>

  <div class="space-y-8">
    <Heading tagName="h4" className="font-bold"> Fragen sie sich: </Heading>
    <ul>
      <li>
        Können nach der aktuellen Rechtslage andere EU-Bürgerinnen und -Bürger
        ein digitales Angebot in diesem Zusammenhang nutzen?
      </li>
      <li>Was ist nötig, um das zu ermöglichen?</li>
    </ul>
  </div>

  <div class="scroll-my-40 space-y-8" id={interopsAssessment.anchor}>
    <Heading tagName="h3">Die Interoperabilitäts-Bewertung</Heading>
    <p>
      Die Interoperabilitäts-Bewertung und die Dokumenation der
      Digitaltauglichkeit sind in einem zusammenhängenden Prozess konsolidiert.
      Die Bewertung ist ein formeller, letzter Schritt, in dem Sie Fragen zu
      Interoperabilitäts-Aspekten der Regelung beantworten.
    </p>
  </div>

  <Heading tagName="h3" className="mt-80"> Der Ablauf im Überblick </Heading>
  <Timeline>
    <Timeline.Item bullet>
      <Timeline.ItemContent
        backgroundClasses="bg-blue-100 px-16 py-32 sm:px-32 sm:pt-40 sm:pb-48"
      >
        <Heading tagName="h4" className="ds-heading-03-reg">
          Führen Sie die Vorprüfung durch
        </Heading>
        <p>
          Finden Sie in der <a href={vorpruefung.path}>Vorprüfung</a> in 6 Fragen
          heraus, ob Sie in Ihrem Regelungsvorhaben Aspekte der digitalen Umsetzung
          und EU-Anforderungen an Interoperabilität beachten müssen.
        </p>
        <p>
          Wenn Sie EU-Anforderungen an Interoperabilität beachten müssen und
          Fragen haben, kontaktieren Sie jederzeit das Digitalcheck-Team für
          kostenlose, vertrauliche Unterstützung!
        </p>
      </Timeline.ItemContent>
    </Timeline.Item>

    <Timeline.Item bullet>
      <Timeline.ItemContent
        backgroundClasses="bg-blue-100 px-16 py-32 sm:px-32 sm:pt-40 sm:pb-48"
      >
        <Heading tagName="h4" className="ds-heading-03-reg">
          Erarbeiten Sie die Regelung
        </Heading>
        <p>
          Erarbeiten Sie Ihre Regelung anhand der{" "}
          <a href={methoden_fuenfPrinzipien.path}>
            Fünf Prinzipien für digitaltaugliche Gesetzgebung
          </a>
          . Diese enthalten die Anforderungen an die Interoperabilität und helfen
          Ihnen dabei, dass Ihre Regelung sowohl digitaltauglich als auch interoperabel
          ist. Kostenlose, vertrauliche Unterstützung erhalten Sie vom Digitalcheck-Team.
        </p>
      </Timeline.ItemContent>
    </Timeline.Item>

    <Timeline.Item bullet>
      <Timeline.ItemContent
        backgroundClasses="bg-blue-100 px-16 py-32 sm:px-32 sm:pt-40 sm:pb-48"
      >
        <Heading tagName="h4" className="ds-heading-03-reg">
          Optional: Lösungen für ein interoperables Europa integrieren
        </Heading>
        <p>
          Lösungen für ein interoperables Europa (Art. 7 EU 2024/903) sind
          wiederverwendbare Standards für den grenzüberschreitenden
          Datenaustausch zwischen Verwaltungseinheiten. Das Interoperable Europe
          Board legt fest, welche Lösungen zu prüfen sind. Mehr dazu im Reiter{
            " "
          }
          <a
            href={getTabAnchorLinkFromLabel(
              tabLabels.InteroperableLoesungenTabLabel,
              "tabs-tbyyc2-tab-interoperable-loesungen",
            )}
          >
            interoperable Lösungen
          </a>
          .
        </p>
      </Timeline.ItemContent>
    </Timeline.Item>

    <Timeline.Item bullet>
      <Timeline.ItemContent
        backgroundClasses="bg-blue-100 px-16 py-32 sm:px-32 sm:pt-40 sm:pb-48"
      >
        <Heading tagName="h4" className="ds-heading-03-reg">
          Reichen Sie die Interoperabilitäts-Bewertung ein
        </Heading>
        <p>
          Sie dokumentieren{" "}
          <a href={dokumentation.path}> im gemeinsamen Fragebogen</a>
          mit dem Digitalcheck, wie sich die Regelungsinhalte auf die Interoperabilität
          auswirken.
        </p>
      </Timeline.ItemContent>
    </Timeline.Item>
  </Timeline>

  <LinkButton href={vorpruefung.path}>Jetzt Vorprüfung durchführen</LinkButton>

  <InfoBox
    look="highlight"
    heading={{
      text: "Unterstützung durch das Team des Digitalcheck",
    }}
    visual={{ Icon: ContactPhoneOutlined, type: "icon" }}
  >
    <p>
      Das Digitalcheck-Team unterstützt Sie im gesamten Prozess. Wir helfen bei
      Fragen zur Interoperabilität, beim Ausfüllen der Bewertung und beim
      Identifizieren{" "}
      <a
        href={getTabAnchorLinkFromLabel(
          tabLabels.backgroundTabLabel,
          "verbindliche-anforderungen",
        )}
      >
        verbindlicher Anforderungen
      </a>{" "}
      – inklusive ihrer Auswirkungen auf die{" "}
      <a
        href={getTabAnchorLinkFromLabel(
          tabLabels.backgroundTabLabel,
          "vier-ebenen-der-interoperabilitaet",
        )}
      >
        vier Ebenen der Interoperabilität
      </a>
      .
    </p>
    <p>
      <strong>Rufen Sie uns an:</strong>{" "}
      <a href={contact.phone}>{contact.phoneDisplay}</a>
      <br />
      Schreiben Sie uns - egal ob Legist oder Institution:{" "}
      <a href={`mailto:${contact.interoperabilityEmail}`}>
        {contact.interoperabilityEmail}
      </a>
    </p>
  </InfoBox>
</section>
