---
import LaenderLayout from "@/layouts/LaenderLayout.astro";
import { FileDownloadOutlined } from "@digitalservicebund/icons";
import Heading from "~/components/Heading";
import Image from "~/components/Image";
import Timeline from "~/components/Timeline";
import { contact } from "~/resources/content/shared/contact";
import { withBase } from "@/utils/path";

export const frontmatter = {
  title: "Gemeinsamer Digitalcheck für Bund und Länder",
};
---

<LaenderLayout title={frontmatter.title}>
  <div slot="intro">
    <p>
      Weniger Doppelstrukturen, mehr Kooperation: Die{" "}
      <a
        href="https://bmds.bund.de/themen/staatsmodernisierung/modernisierungsagenda-bund"
      >
        Modernisierungsagenda Bund
      </a>{" "}
      gibt im Handlungsfeld II Bessere Rechtsetzung vor, bestehende Instrumente, Werkzeuge
      und Methoden im Zentrum für Legistik zu konsolidieren und diese Angebote für
      Länder, Kommunen und Körperschaften nutzbar zu machen.
    </p>
    <p>
      Die{" "}
      <a
        href="https://bmds.bund.de/themen/staatsmodernisierung/modernisierungsagenda-foederal"
      >
        Modernisierungsagenda Föderal{" "}
      </a>
      hält fest, dass die bereits erarbeiteten Methoden des Digitalchecks weiterentwickelt,
      angewendet und von Bund und Ländern wechselseitig zur Verfügung gestellt werden
      sollen. Langfristig soll der Abbau von Doppelstrukturen im föderalen System
      gefördert werden.
    </p>
    <p>
      <br />
      In diesem Sinne hat der Bund bereits mit drei Bundesländern eine Kooperation
      zur Nutzung des Digitalcheck Bund gestartet.
    </p>
  </div>
  <section class="py-80 space-y-80">
    <div>
      <Heading tagName="h2" className="pb-8"> Angebot </Heading>
      <p>
        Durch eine Kooperation mit dem Bund können Sie den Digitalcheck für Ihr
        Bundesland direkt auf der Webseite des Digitalcheck Bund integrieren.
      </p>
      <br />
      <ul>
        <li>
          <b>Personalisierte Landingpage:</b> Die Webseite für Ihren Digitalcheck
          wird vom Team des Digitalcheck Bund aufgebaut, gewartet und basierend auf
          Ihren Vorstellungen umgesetzt.
        </li>
        <li>
          <b>Individuelle Inhalte:</b> Die inhaltliche Verantwortung liegt bei Ihnen.
          Sie erhalten einen Leitfaden, der Sie bei der Erstellung von verständlichen
          und barrierefreien Inhalten unterstützt. Die Inhalte können jederzeit aktualisiert
          werden.
        </li>
        <li>
          <b>Persönliche Unterstützung:</b> Das Team des Digitalcheck Bund steht Ihnen
          für Rückfragen und Anpassungen zur Verfügung. In gemeinsamen Gesprächen
          gehen wir auf Ihre Bedürfnisse ein.
        </li>
        <li>
          <b>Klare Prozesse für bessere Rechtsetzung:</b> Sie stellen Digitaltauglichkeit
          für Ihre Regelungsvorhaben auf Landesebene sicher. Damit tragen Sie zum
          gemeinsamen Ziel von Bund und Ländern bei, eine verständliche, praxistaugliche
          und wirkungsorientierte Gesetzgebung sicherzustellen.
        </li>
      </ul>
      <Image
        url={withBase("/images/example-laender-page.png")}
        alternativeText="Ein Laptop auf hellblauem Hintergrund zeigt den grafischen Entwurf einer Webseite der hessischen Landesregierung."
        className="h-340 w-630 pt-40"
      />
    </div>
    <div>
      <Heading tagName="h2" className="max-w-[800px] pb-40">
        Prozess: Kooperation und Erstellung Ihrer Landingpage
      </Heading>
      <Timeline>
        <Timeline.Item bullet className="w-full max-w-[694px]">
          <Timeline.ItemContent
            backgroundClasses="bg-blue-100 px-16 py-32 sm:px-80 sm:pt-40 sm:pb-48"
          >
            <Heading tagName="h3">Schritt 1: Kontakt aufnehmen</Heading>
            <p>
              Kontaktieren Sie uns bei Interesse direkt unter{" "}
              <a href={`mailto:${contact.bmdsEmail}`}>
                {contact.bmdsEmail}
              </a>
              .
            </p>
          </Timeline.ItemContent>
        </Timeline.Item>
        <Timeline.Item bullet className="w-full max-w-[694px]">
          <Timeline.ItemContent
            backgroundClasses="bg-blue-100 px-16 py-32 sm:px-80 sm:pt-40 sm:pb-48"
          >
            <Heading tagName="h3">Schritt 2: Gemeinsamer Termin</Heading>
            <p>
              In einem gemeinsamen Termin besprechen wir gegenseitige
              Anforderungen und Möglichkeiten.
            </p>
          </Timeline.ItemContent>
        </Timeline.Item>
        <Timeline.Item bullet className="w-full max-w-[694px]">
          <Timeline.ItemContent
            backgroundClasses="bg-blue-100 px-16 py-32 sm:px-80 sm:pt-40 sm:pb-48"
          >
            <Heading tagName="h3">
              Schritt 3: Kooperationsvereinbarung
            </Heading>
            <p>
              Eine Kooperationsvereinbarung zwischen Ihrem Bundesland und dem
              Bundesministerium für Digitales und Staatsmodernisierung wird
              unterzeichnet.
            </p>
          </Timeline.ItemContent>
        </Timeline.Item>
        <Timeline.Item bullet className="w-full max-w-[694px]">
          <Timeline.ItemContent
            backgroundClasses="bg-blue-100 px-16 py-32 sm:px-80 sm:pt-40 sm:pb-48"
          >
            <Heading tagName="h3">Schritt 4: Inhalte erstellen</Heading>
            <p>
              Sie erstellen die Inhalte, die auf Ihrer personalisierten
              Landingpage abgebildet werden sollen. Dazu zählen bspw.
              Informationen zum Prozess, den jeweiligen Ansprechpartnern und den
              landesspezifischen Anforderungen.
            </p>
          </Timeline.ItemContent>
        </Timeline.Item>
        <Timeline.Item bullet className="w-full max-w-[694px]">
          <Timeline.ItemContent
            backgroundClasses="bg-blue-100 px-16 py-32 sm:px-80 sm:pt-40 sm:pb-48"
          >
            <Heading tagName="h3">
              Schritt 5: Erstellung der Unterseite
            </Heading>
            <p>
              Das Team des Digitalcheck Bund legt eine neue Unterseite für Ihr
              Bundesland an.
            </p>
          </Timeline.ItemContent>
        </Timeline.Item>
        <Timeline.Item bullet className="w-full max-w-[694px]">
          <Timeline.ItemContent
            backgroundClasses="bg-blue-100 px-16 py-32 sm:px-80 sm:pt-40 sm:pb-48"
          >
            <Heading tagName="h3">Schritt 6: Freigabe</Heading>
            <p>
              Die Unterseite wird vor Veröffentlichung von Ihnen überprüft und
              freigegeben.
            </p>
          </Timeline.ItemContent>
        </Timeline.Item>
      </Timeline>
    </div>
  </section>
  <section class="breakout bg-blue-300 py-32 sm:py-80">
    <Heading tagName="h3" text="Kontakt" />
    <div class="ds-stack pt-32 pb-[56px]">
      <p>
        Sie haben Interesse an einer Kooperationsvereinbarung oder Rückfragen
        zum Prozess? Kontaktieren Sie uns unter{" "}
        <a href={`mailto:${contact.bmdsEmail}`}>
          {contact.bmdsEmail}
        </a>
        .
      </p>
      <br />
      <p>Ansprechpartnerin: Katharina Berndt</p>
    </div>
    <a
      href={withBase("/documents/BundeslaenderInfoPage.pdf")}
      download
      class="inline-flex items-center gap-8"
    >
      <FileDownloadOutlined
        height="1.5em"
        width="1.5em"
        className="fill-current"
      />
      Diese Seite als PDF herunterladen
    </a>
  </section>
</LaenderLayout>
