---
import Layout from "./Layout.astro";
import Hero from "@/components/Hero.astro";
import laenderMapUrl from "@/pages/bundeslaender/_assets/laender-map.svg?url";

interface Props {
  title: string;
  isParent?: boolean;
}

const { title, isParent } = Astro.props;
const displayTitle = isParent ? title : `Der Digitalcheck ${title}`;

// named slots: `subtitle`, `intro`
---

<Layout title={displayTitle}>
  <main class="breakout-grid">
    <Hero>
      <h1>{displayTitle}</h1>
      <slot name="subtitle" />
    </Hero>
    <div class="breakout bg-blue-300">
      <div class="flex flex-col lg:flex-row">
        <div class="py-32 sm:py-48 lg:w-1/2 lg:self-center lg:pr-48">
          <slot name="intro" />
        </div>
        <div class="relative max-lg:mb-48 max-sm:hidden lg:w-1/2">
          <div
            class="bg-ds-blue-500 flex h-full w-[630px] flex-col justify-center align-middle lg:w-[50vw]"
          >
            <div class="relative mx-auto h-[400px] lg:h-[550px]">
              <img
                src={laenderMapUrl}
                alt="Eine stilisierte Karte von Deutschland"
                class="h-full w-auto object-contain"
              />
              {
                !isParent && (
                  <svg
                    viewBox="0 0 592 801"
                    class="absolute inset-0 h-full w-full"
                    aria-hidden="true"
                  >
                    <use
                      href={`${laenderMapUrl}#${title}`}
                      fill="#DCE8EF"
                      stroke="#336F91"
                      stroke-width="3.5"
                    />
                  </svg>
                )
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <slot />
  </main>
</Layout>

<style>
  main {
    h2 {
      margin-bottom: 1rem;
    }
  }
</style>
