---
import Layout from "@/layouts/Layout.astro";
import {
  FactCheckTwoTone,
  FileCopyTwoTone,
  InsertDriveFileTwoTone,
} from "@digitalservicebund/icons";
import Container from "@/components/Container";
import { Feature, FeatureList } from "@/components/FeatureList.tsx";
import Hero from "@/components/Hero";
import InfoBox from "@/components/InfoBox";
import InfoBoxList from "@/components/InfoBoxList.astro";
import RichText from "@/components/RichText";
import { fundamentalsNKR } from "@/resources/content/grundlage-normenkontrollrat";

export const frontmatter = {
  title: "Die Rolle des Nationalen Normenkontrollrats",
};
---

<Layout title={frontmatter.title}>
  <main>
    <Hero title={fundamentalsNKR.title} subtitle={fundamentalsNKR.subtitle}>
      <RichText
        markdown={"Diese Seite richtet sich **ausschließlich** an Bundesministerien."}
        className="ds-subhead"
      />
    </Hero>

    <Container className="space-y-40 py-40 md:py-80">
      <InfoBoxList separator class="mt-0 space-y-80 *:pb-80">
        {
          fundamentalsNKR.summary.items.map((item) => (
            <InfoBox
              heading={{
                ...item.heading,
                tagName: "h2",
                look: "ds-heading-03-reg",
              }}
            >
              <RichText
                markdown={item.content}
                className="kern-stack-lg [&>ul]:space-y-24"
              />
            </InfoBox>
          ))
        }
      </InfoBoxList>

      <section class="space-y-40">
        <h3 class="ds-body-01-reg">
          Der NKR <strong>betrachtet unter anderem</strong> in diesem Kontext:
        </h3>

        <FeatureList>
          <Feature>
            <FactCheckTwoTone className="size-40 fill-blue-700" />
            <RichText
              className="md:row-span-3 md:grid md:grid-rows-subgrid"
              markdown={fundamentalsNKR.NKRConsiderations.items[0]}
            />
          </Feature>
          <Feature>
            <InsertDriveFileTwoTone className="size-40 fill-blue-700" />
            <RichText
              className="md:row-span-3 md:grid md:grid-rows-subgrid"
              markdown={fundamentalsNKR.NKRConsiderations.items[1]}
            />
          </Feature>
          <Feature>
            <FileCopyTwoTone className="size-40 fill-blue-700" />
            <RichText
              className="md:row-span-3 md:grid md:grid-rows-subgrid"
              markdown={fundamentalsNKR.NKRConsiderations.items[2]}
            />
          </Feature>
        </FeatureList>
      </section>
    </Container>

    <div class="bg-ds-blue-100">
      <Container className="space-y-32 py-40 md:space-y-40 md:py-80">
        <InfoBox
          heading={{ text: fundamentalsNKR.visualization.infoBox1.heading }}
        >
          <RichText markdown={fundamentalsNKR.visualization.infoBox1.content} />
        </InfoBox>

        <InfoBox
          className="bg-white"
          look="highlight"
          heading={{
            text: fundamentalsNKR.visualization.infoBox2.heading,
            className: "ds-subhead",
          }}
        >
          <RichText markdown={fundamentalsNKR.visualization.infoBox2.content} />
        </InfoBox>
      </Container>
    </div>
  </main>
</Layout>
